<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNCFQta5HQZ5-ChWRAOTY01CKzm2U6v1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>504537907502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.rems</string>
	<key>PROJECT_ID</key>
	<string>rems-6ddb7</string>
	<key>STORAGE_BUCKET</key>
	<string>rems-6ddb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504537907502:ios:6b1417f6ed9afa2c9cfabf</string>
</dict>
</plist>